<!DOCTYPE html>
<html lang="en">
  <head>
{% autoescape off %}{{googleAnalytics}}{% endautoescape %} 
    <title>Coaching</title>
{% autoescape off %}{{googleAds}}{% endautoescape %} 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="news_keywords" content="Brexit, Britain, UK, Europe"/>
    <meta name="description" content="Brexit update, everything you need to know about brexit today...">
    <meta name="author" content="Christian Pruvost">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/style.css" rel="stylesheet">
{% autoescape off %}{{faviconText}}{% endautoescape %} 
  </head>
  <body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				
			</div>
			<nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light bg-light ">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span> Menu
				</button> <a class="navbar-brand" href="#"><img src="/static/images/TheBluePlanet2.png" height="30" alt=""></a>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav">
					  <li class="nav-item active">
               <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
						<li class="nav-item active">
							 <a class="nav-link" href="#">About</a>
						</li>
						<li class="nav-item">
							 <a class="nav-link" href="#">NLP</a>
						</li>
						<li class="nav-item dropdown">
							 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Coaching</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								 <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
								<div class="dropdown-divider">
								</div> <a class="dropdown-item" href="#">Separated link</a>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav ml-md-auto">
						<li class="nav-item active">
							 <a class="nav-link" href="#">Link <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item dropdown">
							 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
								 <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
								<div class="dropdown-divider">
								</div> <a class="dropdown-item" href="#">Separated link</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<div class="jumbotron card card-block">
				<h2>
				</h2>
				<p>
					<img class="mr-3" alt="Bootstrap Media Preview" src="/static/images/ukparlement.jpg" height="200px" width="100%">
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				The economic damage of brexit in charts
			</h2>
			<p>Brexit Knocks the Wind Out of the U.K. Economy. Slowly and surely, the uncertainty over Brexit is taking a toll. Britain didn’t leave the European Union on June 23, 2016; it merely voted to start the process. That, in turn, created uncertainty...</p>
			<p>By Therese Raphael . 2019-01-14 07:00 (Bloomberg Opinions)</p>
			<p>
				<a class="btn" href="https://www.bloomberg.com/opinion/articles/2019-01-14/the-economic-damage-of-brexit-in-charts">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Foreign exchange
			</h2>
			<p>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container"> <div class="tradingview-widget-container__widget"></div><div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">EUR-GBP</span></a> by TradingView</div><script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>{"showChart": true, "locale": "uk", "largeChartUrl": "", "width": "100%", "height": "300", "plotLineColorGrowing": "rgba(255, 0, 0, 1)", "plotLineColorFalling": "rgba(152, 0, 255, 1)", "gridLineColor": "rgba(0, 0, 0, 1)", "scaleFontColor": "rgba(131, 136, 141, 1)", "belowLineFillColorGrowing": "rgba(255, 0, 0, 0.12)", "belowLineFillColorFalling": "rgba(180, 167, 214, 0.7)", "symbolActiveColor": "rgba(225, 239, 249, 1)", "tabs": [{"title": "EUR-GBP", "symbols": [{"s": "FX:EURGBP", "d": "EUR-GBP"}]}]}</script></div>
<!-- TradingView Widget END -->
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Brexit, 10,000 BC: The untold story of how Britain first left Europe
			</h2>
			<p><img src="https://images.newscientist.com/wp-content/uploads/2019/03/06122046/190309_coverimage1200x800-800x533.jpg" width="120"/> by Richard Webb<br/>“FOG in Channel; Continent Cut Off”. This apocryphal newspaper headline supposedly illustrates the insularity of the British. Weather-wise, nothing could be further from the truth today, as I peer from a gun emplacement atop the White Cliffs of Dover. The view is stunning. Dead ahead is the bulbous headland of Cap Gris-Nez, the closest tip of France. A few degrees to the left, a sharp eye can make out the distinctive silhouette of Calais Town Hall.<br/>Britain is undoubtedly an island...
</p>
			<p>
				<a class="btn" href="https://www.newscientist.com/article/mg24132200-200-brexit-10000-bc-the-untold-story-of-how-britain-first-left-europe/">View details »</a>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<h3>
				News from Britain
			</h3>
			<div>
				...
			</div>
		</div>
		<div class="col-md-5">
			<h3>
				News from Europe 
			</h3>
			<div>
				...
			</div>
		</div>
		<div class="col-md-2">
			<img alt="Bootstrap Image Preview" class="img-fluid" src="/static/images/uk-turnmoil.jpg">
			<p><ul>
			<li><a href="whatisbrexit/">What is brexit?</a>
			<li><a href="referendum/">EU referendum 2016 results.</a>
			<li><a href="economic-charts/">What is the impact on the economy?</a>
			<li><a href="people-migration/">Brexodus and people migration</a>
			<li><a href="what-next/">What next?</a>
			</ul></p>
		</div>
	</div>
	{% autoescape off %}{{footer}}{% endautoescape %}
</div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
  </body>
</html>