/**
 * Demo Styles
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
}

body {
  margin: 64px auto;
  max-width: 640px;
  width: 94%;
  text-align: center;
}

h1 {
	font-size: 4vw;
}
h2 {
	font-size: 1em;
}
h2>a {
	color: #024C8D;
}
float-right {
	float:right;
}
float-left {
	float:left;
}
/**
 * Circle Styles
 */

.circle {
    position: relative;
    background-color: powderblue;
    color: #333;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    display: block;
    padding: 5px;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -2%;
     }
      border: 5px solid darken(powderblue, 5%);
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      transition: all 1s ease-out;
     &:hover {
       background-color: maroon;
       border: 5px solid darken(maroon, 10%);
       color: #fff;
     }
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #D4F0F2;
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

@media (min-width: 480px) {
  .circle__content {
    font-size: 2em;
  }
  .circle {
    width:100%;
  }
}

@media (min-width: 768px) {
  .circle__content {
    font-size: 1.4em;
  }
}

@media (max-width: 480px) {
  div.circle {
    width: 40%;
    align:middle;
  }
  div.float-right {
    float: none;
  }
  div.float-left {
    float: none;
  }
}

div.page-footer {
  padding-left: 5%;
}
p.page-footer {
  font-size: .8rem;
  margin: 0;
}
.spacer {
  position: relative;
  height: 100px;
}