# Empty CSS file for your own CSS

# the first class does not seem to be picked up so keep it empty, as-is
.body{
}
.divider {
	position: relative;
	height: 20px;
    left:10%;
    top:10%;
    bottom:10%;
    border-left:3px solid red;
}
.newstitle {
	display: inline;
	font-size: .8rem;
	font-weight: bold;
}
.newsblock {
	border-color: #ff9f80;
    background-color: #ddf0ff;
    border-style: inset;
    border-width: thin;
    padding: 5px;
    font-size: .8rem;
    font-weight: normal;
}
.newsdate {
	display: inline;
	font-size: .7rem;
	color: #e41d2e;
}
.item_desc{
	font-size: .7rem;
}
