# Empty CSS file for your own CSS

.divider {
    position:absolute;
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid white;
}

.newstitle {
	border-color: #ff9f80;
    background-color: #ddf0ff;
    border-style: inset;
    border-width: thin;
    padding: 5px;
    font-size: 12px;
}