# Empty CSS file for your own CSS

# the first class does not seem to be picked up so keep it empty, as-is
.body{
}
.divider {
	position: relative;
	height: 20px;
    left:10%;
    top:10%;
    bottom:10%;
    border-left:3px solid red;
}
.newstitle {
	display: inline;
	font-size: .8rem;
	font-weight: bold;
}
.newsblock {
	border-color: #ff9f80;
    background-color: #ddf0ff;
    border-style: inset;
    border-width: thin;
    padding: 5px;
    font-size: .8rem;
    font-weight: normal;
}
.newsdate {
	display: inline;
	font-size: .7rem;
	color: #008080;
}
.item_desc{
	font-size: .7rem;
}
.item_origin{
	font-size: .6rem;
	color: #008080;
}
h1.tbp-header{
	font-size: 3rem;
	color: #5a3ec5;
}
h1.page-title {
	font-size: 3rem;
	color: #5a3ec5;
}
div.page-footer {
	padding-left: 5%;
}
p.page-footer {
  font-size: .8rem;
  margin: 0;
}
.parallax {
  /* The image used */
  background-image: url("/static/images/excellingyourself/GoldenMountain.jpg");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.opaque-80 {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  background: rgba(255, 255, 255, 0.8);
}
.opaque-100 {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  background: rgba(255, 255, 255, 1);
}
.spacer {
	position: relative;
  height: 100px;
}