<!DOCTYPE html>
<html lang="en">
  <head>
    <title>What is Brexit</title>
{% autoescape off %}{{googleAds}}{% endautoescape %} 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="news_keywords" content="Brexit, Britain, UK, Europe"/>
    <meta name="description" content="Brexit update, everything you need to know about brexit today...">
    <meta name="author" content="Christian Pruvost">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/style.css" rel="stylesheet">
{% autoescape off %}{{faviconText}}{% endautoescape %} 
  </head>
  <body>
  
    </body>
</html>