<!DOCTYPE html>
<html lang="en">
  <head>
{% autoescape off %}{{googleAnalytics}}{% endautoescape %} 
    <title>www.theblueplanet.net</title>
{% autoescape off %}{{googleAds}}{% endautoescape %} 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="news_keywords" content="Brexit, Britain, UK, Coaching magic, get a professional coach to improve yourself and your life...">
    <meta name="description" content="">
    <meta name="author" content="Christian Pruvost">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/home.css" rel="stylesheet">
{% autoescape off %}{{faviconText}}{% endautoescape %} 
  </head>
  <body>

<header>
<div class="container-fluid">
	<div class="row">
	<div class="col-md-12 mt-5 text-center"><h1>www.theblueplanet.net</h1></div>
	</div>
</div>
</header>
<nav>
<div class="container-fluid">
	<div class="row">
			<div class="col-md-6 text-center">
			<div class="circle">
			  <div class="circle__inner">
			    <div class="circle__wrapper">
			      <div class="circle__content"><h2><a href="brexit">"Brexit"</a></h2></div>
			    </div>
			  </div>
      </div>
      </div>
			<div class="col-md-6 text-center">
				<div class="circle float-right">
				  <div class="circle__inner">
				    <div class="circle__wrapper">
				      <div class="circle__content"><h2><a href="/excellingyourself">"Excelling Yourself"</a></h2></div>
				    </div>
				  </div>
	      </div>
      </div>
	</div>
</div>
</nav>
	<div class="row">
	<div class="col-md-12 text-center">
	{% autoescape off %}{{footer}}{% endautoescape %}
	</div>
	</div>
</div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
  </body>
</html>