<!DOCTYPE html>
<html lang="en">
  <head>
{% autoescape off %}{{googleAnalytics}}{% endautoescape %} 
    <title>Coaching Magic - details sent</title>
{% autoescape off %}{{googleAds}}{% endautoescape %} 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="news_keywords" content="coaching magic, coaching, NLP, self, self-development, yourself, improvement, life"/>
    <meta name="description" content="Coaching magic, get a professional coach to improve yourself and your life...">
    <meta name="author" content="Christian Pruvost">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/style.css" rel="stylesheet">
{% autoescape off %}{{faviconText}}{% endautoescape %} 
  </head>
  <body>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			>> Details from {% autoescape off %}{{fromField}}{% endautoescape %} have been sent...
		</div>
	</div>

	<!--  footer -->
	<div class="row">
	{% autoescape off %}{{footer}}{% endautoescape %}
	</div>
</div>
</div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
  </body>
</html>