<!DOCTYPE html>
<html lang="en">
  <head>
{% autoescape off %}{{googleAnalytics}}{% endautoescape %} 
    <title>Excelling Yourself</title>
{% autoescape off %}{{googleAds}}{% endautoescape %} 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="coaching magic, coaching, NLP, Neuro Linguistic Programming, self, self-development, excelling, yourself, improvement, life"/>
    <meta name="description" content="Excelling Yourself through coaching, get a professional coach to improve yourself and your life...">
    <meta name="author" content="Christian Pruvost">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/css/style-xy.css" rel="stylesheet">
{% autoescape off %}{{faviconText}}{% endautoescape %} 
  </head>
  <body>


   <header>
    <nav>
      <div class="menu-icon">
         <i class="fa fa-bars fa-2x"></i>
      </div>
      <div class="logo">
         <img id="mainlogo" src="/static/images/excellingyourself/excelling-yourself-main.jpg" alt="Excelling Yourself">
         <a class="Logo" href="/excellingyourself/">EXCELLING YOURSELF</a>
      </div>
      <div class="menu">
         <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
         </ul>
      </div>
    </nav>
   </header>	
  <div class="container-fluid">
  <div class="row margintop-100">
	  <div class="col-md-3">
	  <img class="mx-auto img-fluid d-block" src="/static/images/excellingyourself/sloughflower.jpg"/>
	  </div>
	  <div class="col-md-3 bg-info text-white align-self-stretch">
	  <table class="h-100"><tbody><tr><td class="v-align-middle"><span class="size1">Our professional coaches are all trained and we welcome all types of demands. We provide much more than listening.</span> 
	 </td></tr></tbody></table>
	   </div>
	  <div class="col-md-3 text-center align-self-center">
	  <i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>Generative Coaching<i class="fa fa-quote-right fa-2x" aria-hidden="true"></i>
	  </div>
	  <div class="col-md-3">
	 <img class="mx-auto img-fluid d-block" src="/static/images/excellingyourself/pinkflower3.jpg"/>
	  </div>
  </div>
  <div class="row">
	  <div class="col-md-12 mt-1 mb-1"></div>
	  <div class="col-md-12 pt-3 pl-5 pb-3 pr-5" id="greenbar">
	 For a follow-up, please email us <a href="mailto:coachingmarvel@gmail.com">coachingmarvel@gmail.com</a>
	  </div>
  </div>
	<div class="row margintop-100">
		<div class="col-md-4 mt-3">
			<h4 class="text-center text-primary">
				The More You Know
			</h4>
			<p>
				<img class="mr-3 mx-auto d-block rounded-circle" alt="Bootstrap Media Preview" src="/static/images/excellingyourself/woodfire.jpg" height="200px" width="250px">
      </p>
      <p class="text-center">This is your Resources Section. Update your visitors about industry news, or publish relevant announcements about your forum here. You can also use this space to share relevant tips and offer links to external resources.</p>
		</div>
		<div class="col-md-4 mt-3">
      <h4 class="text-center text-primary">
        What's new? And now
      </h4>
      <p>
        <img class="mr-3 mx-auto d-block rounded-circle" alt="Bootstrap Media Preview" src="/static/images/excellingyourself/lakesunset.jpg" height="200px" width="250px">
      </p>
      <p class="text-center">This is your Resources Section. Update your visitors about industry news, or publish relevant announcements about your forum here. You can also use this space to share relevant tips and offer links to external resources.</p>
    </div>
		<div class="col-md-4 mt-3">
      <h4 class="text-center text-primary">
        What's trending?
      </h4>
      <p>
        <img class="mr-3 mx-auto d-block rounded-circle" alt="Bootstrap Media Preview" src="/static/images/excellingyourself/rose.jpg" height="200px" width="250px">
      </p>
      <p class="text-center">This is your Resources Section. Update your visitors about industry news, or publish relevant announcements about your forum here. You can also use this space to share relevant tips and offer links to external resources.</p>
    </div>
	</div>
	<div class="row">
	<div class="col-md-12 mt-3 ml-3 mr-3">
	{% autoescape off %}{{nlpnews}}{% endautoescape %}
	</div>
	</div>
	<div class="row">
	<a name="contact"></a>
    <div class="col-md-6 mt-3">
      <h3 class="ml-3">Contact</h3>
<form name="contactform" action="contact" method="POST">{% csrf_token %}
  <div class="form-group ml-3">
   <input type="name" name="name" placeholder="Enter your Name e.g. John Smith" class="form-control border-top-0 border-left-0 border-right-0 border-bottom-1 border-primary" id="name">
 </div>
 <div class="form-group ml-3">
   <input type="email" name="email" placeholder="youremail@domain.com" address" class="form-control border-top-0 border-left-0 border-right-0 border-bottom-1 border-primary" id="email">
 </div>
 <div class="form-group ml-3">
   <input type="subject" name="subject" placeholder="Enter subject" class="form-control border-top-0 border-left-0 border-right-0 border-bottom-1 border-primary" id="subject">
 </div>
 <div class="form-group ml-3">
   <textarea name="text" placeholder="Enter some text..." class="form-control border border-primary"></textarea>
 </div>
 <div class="form-group ml-3">
   <input type="Submit" value="submit" /> 
 </div>
</form>


    </div>
    <div class="col-md-6 mt-3">
      <h3 class=""></h3>
        <img class="mx-auto d-block img-fluid" alt="Bootstrap Media Preview" src="/static/images/excellingyourself/fieldslife.jpg"/>
    </div>
  </div>  

	<!--  footer -->
	<div class="row">
	{% autoescape off %}{{footer}}{% endautoescape %}
	</div>
</div>
</div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/scripts.js"></script>
<script>
  $(document).ready(function() {
        $(".menu-icon").on("click", function() {
              $("nav ul").toggleClass("showing");
        });
  });
  
  // Scrolling Effect
  $(window).on("scroll", function() {
        if($(window).scrollTop()) {
              $('nav').addClass('black');
              $('header').addClass('black');
        } else {
              $('nav').removeClass('black');
              $('header').removeClass('black');
        }
  })</script>
 </body>
</html>